[[source]]
name = "pod"
url = "https://www.podium.com/"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"

[requires]
python_version = "3.8"

[aliases]
test=pytest

[tool:pytest]
python_files = tests/*.py